[Desktop Entry]
Version=1.0
Type=Application
Name=OBSBOT Control
Comment=Control de cámara OBSBOT Tiny para Linux
Exec=/home/ipuc/Documentos/obsbot/OBSBOT_CENTER_LINUX/run.sh
Icon=/home/ipuc/Documentos/obsbot/OBSBOT_CENTER_LINUX/obsbot_logo.png
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=true
StartupWMClass=OBSBOT Control
Path=/home/ipuc/Documentos/obsbot/OBSBOT_CENTER_LINUX

